<!DOCTYPE html>

<html>

<head>
    <title>
        Demo | PSPIT
    </title>

    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

    <link rel = "stylesheet" href = "{{ url_for('static',filename='globals.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static',filename='movingGears.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='/images/footer-logo.png') }}" type="image/x-icon">

    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
</head>

    <!-- <link rel="stylesheet" href="node_modules/xterm/css/xterm.css" /> -->
    
    <!-- <script src="node_modules/xterm/lib/xterm.js"></script> -->


<body>

    <div class = "scrollToTop" onclick="topFunction()" id="scrollToTop" title="Go to top">
        <p style = "font-weight: 700;">^</p>
    </div>
    <div class="header">
        <div class="headerContainer">
            <div class="headerLeft">
                <img src = "{{ url_for('static',filename='./images/main-logo.png') }}" alt = "logo"/>
                <!-- <div><p>Parkinson's Disease Early Predictor</p></div> -->
            </div>
            <div class="headerRight">
                <div class="about">
                    <p onclick="showAboutUs()">About us</p>
                </div>
                <div class="documentation">
                    <p onclick="location.href = 'https://docs.google.com/document/d/11nS0E81EB1Msv4AE3QM6SpNx0BZ875IMIq5YxtRntUg/edit?usp=sharing';">Docs</p>
                </div>
                <div class="viewCode" onclick="location.href = 'https://drive.google.com/drive/folders/1cB92b1uqAL_6Znlb3HAXEnD7Y7Ls7GPI?usp=sharing';">
                    <p>Code</p>
                </div>
            </div>
        </div>
    </div>
    <div class="intro">
        <div class="introContainer">
            <div class="infoDiv">
                <div class="screamer">
                    <p>Host Security.</p>
                </div>
                <p class="description">An unexplored domain</p>
                <p>We present to you, the<b> Pseudo-System Protocol for Information Transfer</b>. A network protocol which does not joke about your system's security.</p>
                <!-- <div class="statDiv">
                    <div class="malwareIncrease">
                        <h1 class = "statNumber">
                            165%
                        </h1>
                        <p class = "statDesc">Malware Increase</p>
                    </div>
                    <div class="indianCases">
                        <h1 class = "statNumber">
                            230k
                        </h1>
                        <p class = "statDesc">Malwares everyday</p>
                    </div>
                    <div class="ransomwareDamage">
                        <h1 class = "statNumber">
                            $75b
                        </h1>
                        <p class = "statDesc">Ransomware Damage</p>
                    </div>
                </div> -->
            </div>
            <div class = "imageDiv">
                <img src ="{{ url_for('static',filename='/images/illustrationworking-witman.png') }}" alt = "jumboImg" />
            </div>
        </div>
        <div class="statDiv">
            <div class="statDivContainer">
                <div class="malwareIncrease">
                    <h1 class = "statNumber">
                        165%
                    </h1>
                    <p class = "statDesc">Malware</p>
                    <p class = "statDesc">Increase</p>
                </div>
                <div class="mwEveryday">
                    <h1 class = "statNumber">
                        230k
                    </h1>
                    <p class = "statDesc">Malwares</p>
                    <p class = "statDesc">everyday</p>
    
                </div>
                <div class="ransomwareDamage">
                    <h1 class = "statNumber">
                        $75b
                    </h1>
                    <p class = "statDesc">Ransomware</p>
                    <p class = "statDesc">damage</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="statDiv">
        <div class="statDivContainer">
            <div class="malwareIncrease">
                <h1 class = "statNumber">
                    165%
                </h1>
                <p class = "statDesc">Malware</p>
                <p class = "statDesc">Increase</p>
            </div>
            <div class="mwEveryday">
                <h1 class = "statNumber">
                    230k
                </h1>
                <p class = "statDesc">Malwares</p>
                <p class = "statDesc">everyday</p>

            </div>
            <div class="ransomwareDamage">
                <h1 class = "statNumber">
                    $75b
                </h1>
                <p class = "statDesc">Ransomware</p>
                <p class = "statDesc">damage</p>
            </div>
        </div>
    </div> -->


    <div class="slideShow">
        <div class="slideShowGray"></div>
        <div class="slideShowContainer">
            <iframe 
                src="https://docs.google.com/presentation/d/e/2PACX-1vQkZUrCJCmUvDO69jwk0AjUF2u7Nh53HuqkIGB3PCd-oXzlVUlaL5XZV4mCrVa8nQ/embed?start=false&loop=false&delayms=3000" 
                frameborder="0" 
                width="100%" 
                height="500" 
                allowfullscreen="true" 
                mozallowfullscreen="true" 
                webkitallowfullscreen="true">
            </iframe>
        </div>
    </div>


    <div class="demo">
        <div class="demoTitle">
            <p class = "demoTitleHead">Demonstration</p>
            <p class = "demoTitleDesc">Provide port number and message to be sent</p>
        </div>
        <div class="demoContainer">
            <div class="demoImgDiv">
                <img src = "{{ url_for('static',filename='/images/dataFlow.svg') }}" alt = "dataFlow" />
                <div class="container">
                    <svg class="machine"xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 645 526">
                      <defs/>
                      <g>
                        <path  x="-173,694" y="-173,694" class="large-shadow" d="M645 194v-21l-29-4c-1-10-3-19-6-28l25-14 -8-19 -28 7c-5-8-10-16-16-24L602 68l-15-15 -23 17c-7-6-15-11-24-16l7-28 -19-8 -14 25c-9-3-18-5-28-6L482 10h-21l-4 29c-10 1-19 3-28 6l-14-25 -19 8 7 28c-8 5-16 10-24 16l-23-17L341 68l17 23c-6 7-11 15-16 24l-28-7 -8 19 25 14c-3 9-5 18-6 28l-29 4v21l29 4c1 10 3 19 6 28l-25 14 8 19 28-7c5 8 10 16 16 24l-17 23 15 15 23-17c7 6 15 11 24 16l-7 28 19 8 14-25c9 3 18 5 28 6l4 29h21l4-29c10-1 19-3 28-6l14 25 19-8 -7-28c8-5 16-10 24-16l23 17 15-15 -17-23c6-7 11-15 16-24l28 7 8-19 -25-14c3-9 5-18 6-28L645 194zM471 294c-61 0-110-49-110-110S411 74 471 74s110 49 110 110S532 294 471 294z"/>
                      </g>
                      <g>
                        <path x="-136,996" y="-136,996" class="medium-shadow" d="M402 400v-21l-28-4c-1-10-4-19-7-28l23-17 -11-18L352 323c-6-8-13-14-20-20l11-26 -18-11 -17 23c-9-4-18-6-28-7l-4-28h-21l-4 28c-10 1-19 4-28 7l-17-23 -18 11 11 26c-8 6-14 13-20 20l-26-11 -11 18 23 17c-4 9-6 18-7 28l-28 4v21l28 4c1 10 4 19 7 28l-23 17 11 18 26-11c6 8 13 14 20 20l-11 26 18 11 17-23c9 4 18 6 28 7l4 28h21l4-28c10-1 19-4 28-7l17 23 18-11 -11-26c8-6 14-13 20-20l26 11 11-18 -23-17c4-9 6-18 7-28L402 400zM265 463c-41 0-74-33-74-74 0-41 33-74 74-74 41 0 74 33 74 74C338 430 305 463 265 463z"/>
                      </g>
                      <g >
                        <path x="-100,136" y="-100,136" class="small-shadow" d="M210 246v-21l-29-4c-2-10-6-18-11-26l18-23 -15-15 -23 18c-8-5-17-9-26-11l-4-29H100l-4 29c-10 2-18 6-26 11l-23-18 -15 15 18 23c-5 8-9 17-11 26L10 225v21l29 4c2 10 6 18 11 26l-18 23 15 15 23-18c8 5 17 9 26 11l4 29h21l4-29c10-2 18-6 26-11l23 18 15-15 -18-23c5-8 9-17 11-26L210 246zM110 272c-20 0-37-17-37-37s17-37 37-37c20 0 37 17 37 37S131 272 110 272z"/>
                      </g>
                      <g>
                        <path x="-100,136" y="-100,136" class="small" d="M200 236v-21l-29-4c-2-10-6-18-11-26l18-23 -15-15 -23 18c-8-5-17-9-26-11l-4-29H90l-4 29c-10 2-18 6-26 11l-23-18 -15 15 18 23c-5 8-9 17-11 26L0 215v21l29 4c2 10 6 18 11 26l-18 23 15 15 23-18c8 5 17 9 26 11l4 29h21l4-29c10-2 18-6 26-11l23 18 15-15 -18-23c5-8 9-17 11-26L200 236zM100 262c-20 0-37-17-37-37s17-37 37-37c20 0 37 17 37 37S121 262 100 262z"/>
                      </g>
                      <g>
                        <path x="-173,694" y="-173,694" class="large" d="M635 184v-21l-29-4c-1-10-3-19-6-28l25-14 -8-19 -28 7c-5-8-10-16-16-24L592 58l-15-15 -23 17c-7-6-15-11-24-16l7-28 -19-8 -14 25c-9-3-18-5-28-6L472 0h-21l-4 29c-10 1-19 3-28 6L405 9l-19 8 7 28c-8 5-16 10-24 16l-23-17L331 58l17 23c-6 7-11 15-16 24l-28-7 -8 19 25 14c-3 9-5 18-6 28l-29 4v21l29 4c1 10 3 19 6 28l-25 14 8 19 28-7c5 8 10 16 16 24l-17 23 15 15 23-17c7 6 15 11 24 16l-7 28 19 8 14-25c9 3 18 5 28 6l4 29h21l4-29c10-1 19-3 28-6l14 25 19-8 -7-28c8-5 16-10 24-16l23 17 15-15 -17-23c6-7 11-15 16-24l28 7 8-19 -25-14c3-9 5-18 6-28L635 184zM461 284c-61 0-110-49-110-110S401 64 461 64s110 49 110 110S522 284 461 284z"/>
                      </g>
                      <g>
                        <path x="-136,996" y="-136,996" class="medium" d="M392 390v-21l-28-4c-1-10-4-19-7-28l23-17 -11-18L342 313c-6-8-13-14-20-20l11-26 -18-11 -17 23c-9-4-18-6-28-7l-4-28h-21l-4 28c-10 1-19 4-28 7l-17-23 -18 11 11 26c-8 6-14 13-20 20l-26-11 -11 18 23 17c-4 9-6 18-7 28l-28 4v21l28 4c1 10 4 19 7 28l-23 17 11 18 26-11c6 8 13 14 20 20l-11 26 18 11 17-23c9 4 18 6 28 7l4 28h21l4-28c10-1 19-4 28-7l17 23 18-11 -11-26c8-6 14-13 20-20l26 11 11-18 -23-17c4-9 6-18 7-28L392 390zM255 453c-41 0-74-33-74-74 0-41 33-74 74-74 41 0 74 33 74 74C328 420 295 453 255 453z"/>
                      </g>
                    </svg>
                </div>
                <!-- <div class="gearsImg">
                    <div class="container">
                        <img src = "{{ url_for('static',filename='/images/movingGears.svg') }}" alt = "movingGears"/>

                    </div>
                </div> -->
            </div>
            <div class="demoInputDiv">
                <div class="codeIconDiv">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
                    </svg>
                </div>

                <form id = "demoForm">
                    <div class="portInput">
                        <p>Port</p>
                        <input 
                            id = "port"
                            name = "port"
                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                            type = "number" 
                            maxlength="5" 
                            size = "5"
                            placeholder="12000"
                        />
                    </div>
                    <div class="messageInput">
                        <p>Message</p>
                        <textarea 
                            id = "message"
                            name = "message"
                            type = "text"
                            rows = "5"
                            placeholder="Hello world!"
                        ></textarea>
                    </div>
                    <div class="startPseudoServer">
                        <p>Start Pseudo-Server</p>
                    </div>
                    <div class="submitButton">
                        <p>Run Demo</p>
                    </div>
                </form>

                <div class="outputDiv">
                    <p>Server Response</p>
                        <input 
                            id = "res"
                            name = "res"
                            disabled
                        />
                </div>
            </div>
        </div>
    </div>



    <div class="outro">
        <p>Want to see behind the scenes?</p>
        <div class="viewCode" onclick="location.href = 'https://drive.google.com/drive/folders/1cB92b1uqAL_6Znlb3HAXEnD7Y7Ls7GPI?usp=sharing';">
            <p>Code</p>
        </div>
    </div>

    <!-- <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQkZUrCJCmUvDO69jwk0AjUF2u7Nh53HuqkIGB3PCd-oXzlVUlaL5XZV4mCrVa8nQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1280" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe> -->
    <div class="footer" id = "footer">
        <div class="footerContainer">
            <img src = "{{ url_for('static',filename='./images/footer-logo.png') }}" alt = "logoSecondary"/>

            <div class="authorsTitle">
                <p>The Team</p>
            </div>

            <div class="people">
                <div class="author">
                    <img src = "{{ url_for('static',filename='/images/akshay.jfif') }}" alt = "prajwal" class = "dp" />
                    <p class = "authorName">Akshay Vasudev</p>
                    <p class = "authorEmail">akshayvasudev<br>@pesu.pes.edu</p>
                </div>
                <div class="author">
                    <img src = "{{ url_for('static',filename='/images/amogh.jfif') }}" alt = "prajwal" class = "dp" />
                    <p class = "authorName">Amogh R K</p>
                    <p class = "authorEmail">amoghrameshk<br>@gmail.com</p>
                </div>
                <div class="author">
                    <img src = "{{ url_for('static',filename='/images/prajwal.jfif') }}" alt = "prajwal" class = "dp" />
                    <p class = "authorName">Prajwal Naik</p>
                    <p class = "authorEmail">prajwalnaik<br>@pesu.pes.edu</p>
                </div>
                <div class="author">
                    <img src = "{{ url_for('static',filename='/images/rohan.jfif') }}" alt = "prajwal" class = "dp" />
                    <p class = "authorName">Rohan Iyengar</p>
                    <p class = "authorEmail">rohan1028<br>@gmail.com</p>
                </div>
            </div>
            
        </div>
    </div>

    


    <script>
        function showAboutUs() {
            var footer = document.getElementById("footer");
            footer.scrollIntoView();
        }
        var mybutton = document.getElementById("scrollToTop");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>
</html>